@import 'reset';

$color_primary: hsl(220, 100%, 50%);
$color_primary_hover: hsl(220, 100%, 40%);
$color_primary_active: hsl(220, 100%, 20%);
$color_primary_disabled: hsl(220, 50, 10%);

$color_dark: hsl(220, 20%, 5%);

html {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.container {
  align-items: center;
  background-color: $color_dark;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100vw;
}

@keyframes animation-coinTarget {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav {
  $_height: 80px;

  align-items: center;
  background-color: $color_primary;
  box-sizing: border-box;
  display: flex;
  height: $_height;
  justify-content: flex-end;
  left: 0;
  max-width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100vw;

  .coinTarget {
    $__height: 40px;

    background-color: white;
    border-radius: $__height;
    font-weight: 700;
    height: $__height;
    line-height: $__height;
    padding: 0 20px;
    transform-origin: 50% 50%;

    &.coinTarget--animate {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: animation-coinTarget;
      animation-timing-function: ease-out;
    }
  }
}

.collectButton {
  $_height: 50px;
  $_width: auto;

  appearance: none;
  background-color: $color_primary;
  border-radius: $_height;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: $_height;
  line-height: $_height;
  margin-left: - ($_width / 2);
  padding: 0 40px;
  text-align: center;
  width: $_width;

  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $color_primary_hover;
  }

  &:active {
    background-color: $color_primary_active;
  }

  &.collectButton--disabled {
    background-color: $color_primary_disabled;
  }
}